html,
body {
  height: 100%;
}
#main {
  position: relative;
  display: flex;
  width: 1320px;
  height: 100%;
  /* background-color: rgb(211, 221, 198); */
}

.config {
  font-size: xx-large;
  font-family: monospace;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
}
